[submodule "src/phoebe_bridgeback"]
	path = src/phoebe_bridgeback
	url = git@js-er-code.jsc.nasa.gov:imetro/robots/phoebe-bridgeback/phoebe_bridgeback.git
[submodule "src/ewellix_lift"]
	path = src/ewellix_lift
	url = https://github.com/clearpathrobotics/ewellix_lift.git
[submodule "src/serial"]
	path = src/serial
	url = git@js-er-code.jsc.nasa.gov:hw-toolbox/robotiq/ros2/fm/serial.git
	branch = humble
[submodule "src/ewellix_lift_kit"]
	path = src/ewellix_lift_kit
	url = git@js-er-code.jsc.nasa.gov:hw-toolbox/ewellix_lift_kit.git
[submodule "src/dextivr_hande"]
	path = src/dextivr_hande
	url = git@js-er-code.jsc.nasa.gov:hw-toolbox/robotiq/ros2/dextivr_hande.git
	branch = humble-devel
[submodule "src/ros2_robotiq_gripper"]
	path = src/ros2_robotiq_gripper
	url = git@js-er-code.jsc.nasa.gov:hw-toolbox/robotiq/ros2/fm/ros2_robotiq_gripper.git
	branch = humble-devel
[submodule "phoebe_system_config"]
	path = phoebe_system_config
	url = git@js-er-code.jsc.nasa.gov:imetro/robots/phoebe-bridgeback/phoebe-system-config.git
[submodule "src/clearpath_mecanum_drive_controller"]
	path = src/clearpath_mecanum_drive_controller
	url = https://github.com/clearpathrobotics/clearpath_mecanum_drive_controller.git
[submodule "src/trac_ik"]
	path = src/trac_ik
	url = https://bitbucket.org/traclabs/trac_ik.git
[submodule "src/color_names"]
	path = src/color_names
	url = git@js-er-code.jsc.nasa.gov:np/color_names.git
[submodule "src/drt_ur_gui"]
	path = src/drt_ur_gui
	url = git@js-er-code.jsc.nasa.gov:imetro/drt_ur_gui.git
[submodule "src/phoebe_lucci_demo"]
	path = src/phoebe_lucci_demo
	url = git@js-er-code.jsc.nasa.gov:imetro/robots/phoebe-bridgeback/phoebe_lucci_demo.git
[submodule "src/mecanum_drive_odom_publisher"]
	path = src/mecanum_drive_odom_publisher
	url = git@js-er-code.jsc.nasa.gov:ndunkelb/mecanum_drive_odom_publisher.git
